<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 글쓰기 </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<link rel="stylesheet" href="../css/board/boardForm.css">
<body>
<div th:replace="~{/fragments/header.html}"></div>
    <div class='container-fluid'>
<!--     enctype="multipart/form-data"    action="/boardWrite" -->
        <form  id="boardWriteForm" method="post">
            <table class="table" border="1">
                <tr>
                    <th><label for ="contentHead">제목</label></th>
                    <td colspan="3">
                        <input id="memberNo" name="memberNo" type="hidden" th:value="${currentUser.id }">
                        <th:block th:if="${board} != null">
                            <input id="boardCount" name="boardCount" type="hidden" th:value="${board.getBoardCount()}">
                            <input id="boardNo" name="boardNo" type="hidden" th:value="${board.getId() }">
                            <input id="contentHead" name="boardTitle" th:value="${board.getBoardTitle()}" type="text" class="form-control">
                        </th:block>
                        <th:block th:if="${board} == null">
                            <input id="contentHead" name="boardTitle" type="text" class="form-control">
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td>
                        <input type="file" name="boardFile" multiple>
                    </td>
                </tr>
                <th:block th:if="${board} != null">
                    <tr>
                        <th>파일목록</th>
                        <td>
                            <th:block th:each="file : ${files}">
                                <div th:id="${file.id}">
                                    <a th:href="@{/boardFileDown/{id}(id = ${file.id})}" th:text="${file.fileName}"></a>
                                    <button type="button" class="btn btn-outline-secondary btn-sm buttonClass" th:data-id="${file.id}" onclick="removeFile(this)">삭제</button>
                                </div>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
                <tr>
                    <th >내용</th>
                    <td>
                        <th:block th:if="${board} != null">
                            <textarea name="boardContent" id="boardContent"></textarea>

<!--                            <div name="boardContent" id="boardContent" th:utext="${board.getBoardContent()}"></div>-->
                            <input type="hidden" id="boardContentHidden" name="boardContentHidden">
                        </th:block>
                        <th:block th:if="${board} == null">
                            <textarea name="boardContent" id="boardContent"></textarea>
                        </th:block>
                    </td>

                </tr>
                <tr class="trHidden">
                    <th>
                        <input type="hidden" name="deletedFiles" id="deletedFiles">
                    </th>
                </tr>
            </table>
            <div class="boardWriteBtnBox">
                <input type="submit" id="boardWriteBtn" class="boardWriteBtn btn btn-outline-secondary" value="작성">
            </div>
        </form>
    </div>

<div>[[${board}]]</div>
<div>[[${files}]]</div>

</body>
<script>
    let boardContent2 = '[[${board != null ? board.boardContent : ""}]]';
    if (boardContent2 !== "") {
        let decodedContent = $("<textarea/>").html(boardContent2).text();
        console.log("Decoded Content: ", decodedContent);
        let modifiedContent = decodedContent.replace(/uploads\/board\//g, 'http://172.20.4.179/uploads/board/');
        $('#boardContent').summernote('code', modifiedContent);
    }

    $("#boardContent").summernote({
        height:400,
        lang:"ko-KR",
        callbacks : {
            onImageUpload : function(files, editor, welEditable){
                console.log("files =>",files);
                for(let i =0; i<files.length; i++){
                    uploadImage(files[i], this);
                }
            }
        }
    });




    function uploadImage(files,editor){
            const file = files;
            const form = new FormData();
            form.append("file", file);
            console.log(' form => ',form);
            axios.post('/board/uploadImages',form,{
                headers: {
                    'Content-Type': 'multipart/form-data',
                }
            })
            .then (response =>{
                console.log('response => ',response);
                const data = 'uploads/board/'+response.data;
                console.log('data => ',data);
                console.log('editor ? = > ',editor);
                $(editor).summernote('insertImage',data);
            })
            .catch( error =>{
                console.log('error => ',error.message);
            })
    }

    $('#boardWriteBtn').on('click', function(e) {
        e.preventDefault();
        let locationPath = window.location.pathname;

        if(locationPath.includes('Edit')){
            console.info("=======EDIT=======");

            const boardTitle = $("#contentHead").val();
            // let boardContent = $('#boardContent').summernote('code');
            // $('#boardContent').val(boardContent);  // 폼 데이터에 summernote 내용을 반영
            const writer = $("#memberNo").val();

            let boardContent = $('#boardContent').summernote('code'); // Summernote에서 콘텐츠 가져오기
            $('#boardContentHidden').val(boardContent);  // hidden 필드에 summernote 내용을 저장
            let deletedFilesInput = document.getElementById('deletedFiles');


            if(boardTitle === "") {
                alert('제목을 입력해주세요');
                return false;
            }
            if(boardContent === "") {
                alert('내용을 입력해주세요');
                return false;
            }
            if(writer === null || writer === "") {
                alert('로그인을 해주세요');
                return false;
            }

            console.log('boardTitle => ', boardTitle);
            console.log('BoardContent => ', boardContent);
            console.log('writer => ', writer);
            console.log('deletedFilesInput.value => ',deletedFilesInput.value);

            // FormData 객체를 생성하여 폼 데이터를 추가
            const formData = new FormData(document.getElementById('boardWriteForm'));
            formData.append('delValues',deletedFilesInput.value);
            axios.post('/boardEdit', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then(function(response) {
                    console.log('data => ', response.data);
                    // 성공 시, 원하는 페이지로 이동하거나 성공 메시지 표시
                    window.location.href = '/'+response.data; // 게시판 목록 페이지로 이동 예시
                })
                .catch(function(error) {
                    console.log('error => ', error);
                });


        }else{
            console.info("=======NEW=======");

            const boardTitle = $("#contentHead").val();
            const boardContent = $("#boardContent").val();
            const writer = $("#memberNo").val();

            if(boardTitle === "") {
                alert('제목을 입력해주세요');
                return false;
            }
            if(boardContent === "") {
                alert('내용을 입력해주세요');
                return false;
            }
            if(writer === null || writer === "") {
                alert('로그인을 해주세요');
                return false;
            }

            console.log('BoardContent => ', boardContent);

            // FormData 객체를 생성하여 폼 데이터를 추가
            const formData = new FormData(document.getElementById('boardWriteForm'));

            axios.post('/boardWrite', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
            .then(function(response) {
                console.log('data => ', response.data);
                // 성공 시, 원하는 페이지로 이동하거나 성공 메시지 표시
                window.location.href = '/'+response.data; // 게시판 목록 페이지로 이동 예시
            })
            .catch(function(error) {
                console.log('error => ', error);
            });

        }

    });

    function removeFile(button) {
        const fileId = button.getAttribute("data-id");
        console.log('fileId => ', fileId);
        // 삭제할 파일 ID를 hidden input에 추가
        let deletedFilesInput = document.getElementById('deletedFiles');
        let currentDeletedFiles = deletedFilesInput.value ? deletedFilesInput.value.split(',') : [];

        // // 파일 ID 추가 (중복 방지)
        if (!currentDeletedFiles.includes(fileId.toString())) {
            currentDeletedFiles.push(fileId);
            deletedFilesInput.value = currentDeletedFiles.join(',');
        }

        // // 화면에서 해당 파일 제거
        document.getElementById(fileId).remove();
    }

</script>
</html>