    <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script src="/js/summernote/summernote-lite.min.js"></script>-->
<!--    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{js/summernote/summernote-lite.min.css}" />-->
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/commonHeader.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <script src="/js/commonJs/commonJs.js"></script>


<div th:if="${currentUser == null}">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/loginPage" >로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/newUser" >회원가입</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:if="${currentUser != null}">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="../">홈피</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./boards">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cams">캠캠</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">을</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./writeForm">글쓰기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./logout">로그아웃</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="navbar-brand" href="./myPage">
                    <th:block th:with="value=${currentUser.profilePhoto}">

                        <div th:if="${value != null}">
                            <img th:src="@{'/images/user/' + ${currentUser.profilePhoto}}"
                                 alt="프로필 사진"
                                 style="width:40px;"
                                 class="rounded-pill">
                        </div>
                        <p th:if="${value == null}">
                            <img src="/images/icons8-male-user-50.png"
                                 alt="기본 사진"
                                 style="width:40px;"
                                 class="rounded-pill">
                        </p>

                    </th:block>

                </a>
                <button class="btn btn-primary" type="button" onclick="openModal();">채팅방 참여</button>
            </form>
        </div>
    </nav>
</div>
<div class="modal-wrap" style="display: none;">
    <div class="modal-chat bg-white">
        <div class="closeBtnDiv">
            <span class="material-symbols-outlined fw-bold" onclick="closeModal();">close</span>
        </div>
        <div id="member-box" class="bg-white mt-5 mb-5"
             th:if ="${currentUser != null}">
            <div class="mt-5"></div>
            <input type="text" id="roomNo">
            <img id="chatImg" src="#" th:onclick="initChat([[${currentUser.id}]]); ">
            <p class="text-secondary mt-3">아이콘 클릭 채팅방으로 이동합니다</p>
        </div>

        <div class="chatting" style="display: none;">
            <div id="chatArea" class="messageArea bg-white"></div>
            <div class="sendBox" id="sendBox">
                <div class="flex-space-between">
                    <input type="text" class="form-control bg-light border-0" width="80%;" id="sendMsg">
                    <input type="file" class="form-control border-0 text-secondary" name="chatFile" id="chatFile" multiple="multiple">
                    <button id="sendBtn" class="btn btn-outline-secondary" onclick="sendMsg();">전송</button>
                </div>
                <!--                <div class="flex-space-between" id="fileBox">-->
                <!--                    <button type="button" class="btn btn-outline-secondary" onclick="fileSend();" id="sendFileBtn">보내기</button>-->
                <!--                </div>-->
                <div id="fileMsgBox"></div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    let stompClient;
    let chatId;
    let chatName;
    let roomNo;
    let ws;

    $("#fileMsgBox").hide();

    var isShiftPressed = false;

    $("#koptInput").keypress(function(event) {
        if (event.which == 13 && !isShiftPressed) {
            var prompt = $(this).val();

            axios.post('/kogpt', {
                prompt: prompt,
                max_tokens: 1
            }).then(function(response) {
                console.log(response);
            }).catch(function(error) {
                console.error('Error:', error);
            });


        }
    });



    function kakaoLogout() {
        axios.get('/kakaoLogout')
            .then(function(response) {
                location.reload();
            })
            .catch(function(error) {
                console.error(error.responseText);
            });
    }


    function openModal() {
        $("#member-box").show();
        $(".modal-wrap").css("display", "flex");
    }

    function closeModal() {
        console.log('astompClien ->',stompClient);
        endChat();
        $(".chatting").hide();
        $(".messageArea *").remove();
        $(".modal-wrap").css("display", "none");
    }


    function initChat(id) {
        roomNo = $("#roomNo").val();

        if (!roomNo) {
            alert('방번호를 입력해야 합니다');
            return false;
        }

        chatId = id;
        connect();
        console.log('chat ID => ',chatId);
        $("#member-box").hide();
        $(".chatting").slideDown();
    }

    function connect() {
        roomNo = $("#roomNo").val();

        if (!roomNo) {
            alert('방번호를 입력해야 합니다');
            return false;
        }

        const socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/topic/' + roomNo, function (message) {
                receiveMsg(message);
            });
            startChat();
        });
    }

    function startChat() {
        roomNo = $("#roomNo").val();

        const data = { type: "enter", msg: chatId + "님이 입장하셨습니다", roomNo: roomNo, senderId: chatId };
        stompClient.send("/app/chat", {}, JSON.stringify(data));
        appendChat("<p>채팅방에 입장했습니다</p>", true);
    }

    function receiveMsg(message) {
        try {
            let StringChatId = chatId.toString();
            const msgData = JSON.parse(message.body);
            const isMyMessage = msgData.senderId === StringChatId;

            console.log('receiveMsg 1번',msgData);
            appendChat(msgData, isMyMessage);
        } catch (e) {
            console.log('receiveMsg 2번',message.body);
            appendChat(message.body, false);
        }
    }



    function endChat() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        $(".chatting").hide();
        $(".messageArea *").remove();
        $(".modal-wrap").css("display", "none");
    }

    function sendMsg() {
        const files = $("#chatFile")[0].files;
        const msg = $("#sendMsg").val();

        // 파일이 있는 경우
        if (files.length > 0) {
            const formData = new FormData();
            formData.append("message", JSON.stringify({
                type: "file",
                roomNo: roomNo,
                senderId: chatId
            }));

            for (let i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }

            // Axios를 사용하여 파일 및 채팅 메시지 전송
            axios.post('/file-upload', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then(function(response) {
                    console.log("Files sent successfully:", response);
                    // 파일 전송에 성공한 경우
                    if (msg !== '') {
                        const data = { type: "file", msg: msg, roomNo: roomNo,
                            senderId: chatId , files: response.data};
                        stompClient.send("/app/chat", {}, JSON.stringify(data));
                        $("#sendMsg").val("");
                    }
                })
                .catch(function(error) {
                    console.error('SendMsg Error:', error.message);
                });
        } else { // 파일이 없는 경우
            if (msg !== '') {
                const data = { type: "chat", msg: msg, roomNo: roomNo, senderId: chatId };
                stompClient.send("/app/chat", {}, JSON.stringify(data));

                $("#sendMsg").val("");
            }
        }

        // 입력 필드 초기화
        $("#chatFile").val("");
    }

    function appendChat(msgData, isMyMessage) {
        let messageArea = $(".messageArea");
        let messageElement;
        console.log('AppendChat msg Data => ',msgData);

        if(typeof msgData === 'string'){
            console.log('AppendChat String인경우 => ',msgData);
            $(".messageArea").append(msgData);
        }else{
            console.log('AppendChat String이 아닌 경우 => ',msgData);
            messageElement = $("<div>").addClass('chat').addClass(isMyMessage ? 'right' : 'left').html(msgData.msg);
            messageArea.append(messageElement);
        }



        messageArea.scrollTop = messageArea.scrollHeight;

        <!--        let messageArea = $(".messageArea");-->

        <!--        if (typeof msgData === 'string') {-->
        <!--&lt;!&ndash;            messageElement = $("<div>").addClass('chat').html(msgData);&ndash;&gt;-->
        <!--            $(".messageArea").append(msgData);-->
        <!--        } else {-->
        <!--            messageElement = $("<div>").addClass('chat').addClass(isMyMessage ? 'right' : 'left').html(msgData.msg);-->
        <!--        }-->

        <!--        messageArea.append(messageElement);-->
        <!--        messageArea.scrollTop(messageArea[0].scrollHeight);-->
    }

    $("#sendMsg").on("keyup", function(key) {
        if (key.keyCode === 13) {
            sendMsg();
        }
    });

</script>

